---

---

<!DOCTYPE html>
<html>

<style>
/* Center the loader */
#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.no_padding {
  padding:0px !important;
}

.no_margin {
  margin:0px !important;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 }
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
  from{ bottom:-100px; opacity:0 }
  to{ bottom:0; opacity:1 }
}

.h1 {
    font-weight: bold;
    color:rgb(26, 145, 240);
}

















</style>

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/styles/common.css">
    <title>{{ site.title }}</title>
</head>
<body style="background: #f3f2ef">

<div id="dhead">
    <div class="row">
        <div id="dpic">
            <img class="ppic" src="{{ site.data.profile.avatar }}">
        </div>
        <div id="ddesc">
            <h1>{{ site.data.profile.name }}</h1>
            <h2>{{ site.data.profile.description }}</h2>
            <div id="dico">
                <img src="/assets/icons/cemail.svg" style="cursor: pointer;" class="iico" id="iemail">
                <span style="font-weight:bold;">{{ site.data.profile.email }}</span>
            </div>
        </div>
    </div>
</div>

<hr class="hr">

<div id="profile_exp" class="container" style="">
    <div>
        <h2 style="color: #333 !important; font-size: 30px; font-style: initial!important; font-weight:bold;">
            History</h2>
    </div>
    <br>
    {% for exp in site.data.profile.experiences %}
    <div class="entry row">
        <div class="timespan">
            {{ exp.time }}
        </div>
        <div class="ico">
            <div class="entry-dot"></div>
            <img style="border: 1px solid #bbb;" src="{{ exp.logo }}">
            <!--            <span style="background-color:rgba(85,208,241,.87);border-radius:3px">SQL</span>-->
        </div>
        <div class="desc">
            {% for role in exp.roles %}
            <table>
                <tr style="height:20px">
                    <td class="htxt">
                        <span style="font-weight:bold">{{ role.name }}</span><span style="font-style:italic;color:#bbb"> ({{ role.time }})</span>
                    </td>
                </tr>
                <tr>
                    <td class="htxt" style="font-size: 15px">
                        {{ role.description.text }}
                    </td>
                </tr>
            </table>
            <hr class="liner">
            {% endfor %}

            {% for skill in exp.skills %}
            <span style="background-color:#f3f2ef;border-radius:3px;padding:2px; margin:5px">{{ skill }}</span>
            {% endfor %}
        </div>

    </div>
    {% endfor %}
</div>

<br>

<div id="profile_edu" class="container" style="background-color: none;">
    <div class="liner">
        <h2 style="color: #333 !important; font-size: 30px; font-style: initial!important; font-weight:bold;">
            Education</h2>
    </div>
    <br>
    {% for item in site.data.profile.education %}
    <div class="entry row">
        <div class="desc">
            <table>
                <tr style="height:20px">
                    <td class="htxt">
                        <span style="font-weight:bold">{{ item.org }}</span><span style="font-style:italic;color:#bbb"> ({{ item.time }})</span>
                    </td>
                </tr>
                <tr>
                    <td class="htxt" style="font-size: 15px">
                        {{ item.degree }}, {{ item.field }}
                        Grade: {{ item.grade }}
                        Activities and societies: {{ item.social }}
                    </td>
                </tr>
            </table>
            {% if forloop.index != forloop.length %}
            <hr class="liner">
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>

<br>

<div id="profile_certs" class="container" style="background-color: none;">
    <div class="liner">
        <h2 style="color: #333 !important; font-size: 30px; font-style: initial!important; font-weight:bold;">
            Certifications</h2>
    </div>
    <br>
    {% for item in site.data.profile.certs %}
    <div class="entry row">
        <div class="desc">
            <table>
                <tr style="height:20px">
                    <td class="htxt">
                        <span> {{ item.time }} - </span>
                        <a href="{{ item.url }}"> <span
                                style="text-decoration:underline;font-weight:bold">{{ item.name }}</span></a>
                    </td>
                </tr>
                <tr>
                    <td class="htxt" style="font-size: 15px">
                        {{ item.degree }}
                    </td>
                </tr>
            </table>
        </div>

    </div>
    {% endfor %}
</div>


<br>

<div id="profile_proj" class="container" style="background-color: none;">
    <div class="liner">
        <h2 style="color: #333 !important; font-size: 30px; font-style: initial!important; font-weight:bold;">
            Projects</h2>
    </div>
    {% for project in site.data.profile.projects %}
    <div class="entry row">
        <div class="ico2">
            <img style="border: 1px solid #bbb;" src="{{ project.logo }}">
        </div>
        <div class="desc2">
            <table>
                <tr style="height:20px">
                    <td class="htxt">
                        <span style="font-weight:bold">{{ project.name }}</span><span
                            style="font-style:italic;color:#bbb"> ({{ project.time }})</span>
                    </td>
                </tr>
                {% for row in project.description %}
                <tr>
                    <td class="htxt" style="font-size: 15px">
                        {{ row }}
                    </td>
                </tr>
                {% endfor %}

            </table>
            <hr class="liner">
        </div>

    </div>
    {% endfor %}
</div>

<br>

<div id="profile_publications" class="container" style="background-color: none;">
    <div class="liner">
        <h2 style="color: #333 !important; font-size: 30px; font-style: initial!important; font-weight:bold;">
            Publications</h2>
    </div>
    <br>
    {% for item in site.data.profile.publications %}
    <div class="entry row">
        <div class="desc">
            <table>
                <tr style="height:20px">
                    <td class="htxt">
                        <a href="{{ item.url }}" style="color: black"><span
                                style="font-weight:bold">{{ item.name }}</span><span
                                style="font-style:italic;color:#bbb"> ({{ item.journal }} - {{ item.time }})</span> </a>
                    </td>
                </tr>
                <tr>
                    <td class="htxt" style="font-size: 15px">
                        {{ item.abstract }}
                    </td>
                </tr>
            </table>
            {% if forloop.index != forloop.length %}
            <hr class="liner">
            {% endif %}
        </div>

    </div>
    {% endfor %}
</div>

<script src="/js/jquery-3.2.1.slim.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<div id="loader" hidden></div>

</body>
</html>
